body {
  font-family: "Teko", sans-serif;
}
footer {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 30px;
  z-index: 2;
  text-align: right;
}
.telegram-link img {
  /* text-shadow: -3px 1px 2px rgb(74 33 33 / 50%);
  font-size: 24px;
  color: #8a0505;
  background-color: rgb(255 255 255 / 84%);
  border-radius: 10px;
  font-weight: bold;
  padding: 10px 20px; */
  max-width: 60px;
}
#myVideo {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  background-color: #000;
}
.content {
  height: 100vh;
}
.coming-soon {
  z-index: 2;
  position: relative;
}

.container h1 {
  padding: 10px 20px;
  margin: 0;
  text-shadow: -3px 1px 2px rgba(84, 84, 84, 0.5);
  font-size: 60px;
  color: #0ff900;
  background-color: rgb(18 19 18 / 84%);
  border-radius: 10px;
  font-weight: bold;
}
span:before {
  content: "";
  animation: animate infinite 10s;
}
@keyframes animate {
  0% {
    content: "C";
  }
  10% {
    content: "Co";
  }
  20% {
    content: "Com";
  }
  30% {
    content: "Comi";
  }
  40% {
    content: "Comin";
  }
  50% {
    content: "Coming";
  }
  60% {
    content: "Coming S";
  }
  70% {
    content: "Coming So";
  }
  80% {
    content: "Coming Soo";
  }
  90% {
    content: "Coming Soon";
  }
  100% {
    content: "Coming Soon!";
  }
}
